.animation-container {
  position: relative;

  .my-slide-animation {
    position:absolute;
    display: block;
    width: 100%;
  }
}

$right: 2000px;

.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
  top:0;
  right:$right;
}

.my-slide-animation.ng-enter {
  -webkit-animation: 0.5s slide-animation-enter;
  -moz-animation: 0.5s slide-animation-enter;
  -o-animation: 0.5s slide-animation-enter;
  animation: 0.5s slide-animation-enter;
}

.my-slide-animation.ng-leave {
  -webkit-animation: 0.5s slide-animation-leave;
  -moz-animation: 0.5s slide-animation-leave;
  -o-animation: 0.5s slide-animation-leave;
  animation: 0.5s slide-animation-leave;
}

@keyframes slide-animation-enter {
  from {
    z-index:100;
    right:$right;
  }
  to {
    right:0;
  }
}

@keyframes slide-animation-leave {
  from {
    z-index:101;
    right:0;
  }
  to {
    right:-$right;
  }
}

@-webkit-keyframes slide-animation-enter {
  from {
    z-index:100;
    right:$right;
  }
  to {
    right:0;
  }
}

@-webkit-keyframes slide-animation-leave {
  from {
    z-index:101;
    right:0;
  }
  to {
    right:-$right;
  }
}

@-moz-keyframes slide-animation-enter {
  from {
    z-index:100;
    top:$right;
  }
  to {
    right:0;
  }
}

@-moz-keyframes slide-animation-leave {
  from {
    z-index:101;
    right:0;
  }
  to {
    right:-$right;
  }
}

@-o-keyframes slide-animation-enter {
  from {
    z-index:100;
    right:$right;
  }
  to {
    right:0;
  }
}

@-o-keyframes slide-animation-leave {
  from {
    z-index:101;
    right:0;
  }
  to {
    right:-$right;
  }
}
