<table class="form-inline">
    <tr class="text-center">
        <td>
            <a ng-mousedown="incrementHours()" ng-mouseup="clearTimout()" class="btn btn-link">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
        </td>
        <td>&nbsp;</td>
        <td>
            <a ng-mousedown="incrementMinutes()" ng-mouseup="clearTimout()" class="btn btn-link">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
        </td>
        <td>&nbsp;</td>
        <td>
            <a ng-mousedown="incrementSeconds()" ng-mouseup="clearTimout()" class="btn btn-link">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td class="control-group" ng-class="{'error': invalidHours}">
            <input type="text" ng-model="hours" ng-change="updateHours()" class="text-center" ng-readonly="readonlyInput" maxlength="2" />
        </td>
        <td>:</td>
        <td class="control-group" ng-class="{'error': invalidMinutes}">
            <input type="text" ng-model="minutes" ng-change="updateMinutes()" class="text-center" ng-readonly="readonlyInput" maxlength="2">
        </td>
        <td>:</td>
        <td class="control-group" ng-class="{'error': invalidSeconds}">
            <input type="text" ng-model="seconds" ng-change="updateSeconds()" class="text-center" ng-readonly="readonlyInput" maxlength="2">
        </td>
        
    </tr>
    <tr class="text-center">
        <td>
            <a ng-mousedown="decrementHours()" class="btn btn-link">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
        </td>
        <td>&nbsp;</td>
        <td>
            <a ng-mousedown="decrementMinutes()" class="btn btn-link">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
        </td>
        <td>&nbsp;</td>
        <td>
            <a ng-mousedown="decrementSeconds()" class="btn btn-link">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
        </td>
    </tr>
</table>