<div id="watch" ng-click="showTimerModal($event)">
  <div class="frame-face"></div>
  <ul class="minute-marks">
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
    <li></li><li></li><li></li><li></li><li></li><li></li>
  </ul>
  <div class="digital-wrap">
    <ul class="digit-hours">
      <li ng-bind="timeVisual.getHours()">0</li>
    </ul>
    <ul class="digit-minutes">
      <li ng-bind="timeVisual.getMinutes()">0</li>
    </ul>
    <ul class="digit-seconds">
      <li ng-bind="timeVisual.getSeconds()">0</li>
    </ul>
  </div>
  <ul class="digits">
    <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li>
    <li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li>
  </ul>
  <div class="hours-hand" ng-class="{active: isTimerRunning}"></div>
  <div class="minutes-hand" ng-class="{active: isTimerRunning}"></div>
  <div class="seconds-hand" ng-class="{active: isTimerRunning}"></div>
</div>