<a ng-click="back()">
  <span class="icon-stack icon-2x">
    <i class="icon-circle-blank icon-stack-base"></i>
    <i class="icon icon-chevron-left "></i>
  </span>
</a>
<h1>Info</h1>
<div class="text-container">
  <p><b>Repeat Timer LP</b> allows you to keep pace to any activity or exercise.  Includes an interval timer for more possibilities.</p>

  <p><b>Repeat Timer LP</b> is built using <a onclick="window.open('http://Angularjs.org', '_system');">AngularJS</a> and <a onclick="window.open('http://cordova.apache.org/', '_system');">Cordova</a>. All source code is available online @<a onclick="window.open('https://github.com/lpaulger/timerApp', '_system');">github.com/lpaulger/timerApp</a>.</p>

  <h4>app/device details</h4>

  <ul>
    <li><label>Cordova Version: </label> <span ng-bind="device.cordova || 'Unknown'"></span></li>
    <li><label>Model: </label> <span ng-bind="device.model || 'Unknown'"></span></li>
    <li><label>Platform: </label> <span ng-bind="device.platform || 'Unknown'"></span></li>
    <li><label>OS Version: </label> <span ng-bind="device.version || 'Unknown'"></span></li>
    <li><label>App Version: </label> <span ng-bind="version"></span></li>
  </ul>

  <label>Copyright 2013 Lucas Paulger</label>
  <a onclick="window.open('http://lucaspaulger.com', '_system');">lucaspaulger.com</a>
</div>